body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

h2{
    color: #888888;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input{
    border : 1px solid #cccccc;
    padding: 8px;
    width: 50%;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

button:hover{
    cursor: pointer;
    border: 1px solid grey;
    background: black;
    color: white;
    padding: 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-style: italic;
    font-size: 20px;
    text-align: center;
    color: #404040;
    transition: 0.3s;
    width: 90%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px;
  }
 
.loc{
    font-size: large;
    color: 	#484848;
    font-size: 30px;
    margin-bottom: 16px;
    font-style: italic;
}


#geo_img{
    float : right;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

/*<--tooltip-->*/
.tooltip {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }