<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel='icon' href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/km1.jfif"/>
            <h2>Computer Science Engineer</h2>
            <h3>Contact : +91-9462972064</h3>
            <h3>Mail : keshavmundra1996@gmailcom</h3>
        </div>
        {{>footer}}
    </body>
</html>