<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel='icon' href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/km1.jfif"/>
            <h2>Computer Science Engineer</h2>
            <h2 style="color :#333333">
                <i> Ping me Hi &nbsp;</i>
                <img 
                    src="/img/whatsapp.png" 
                    id = "whatsapp"
                    onclick="deeplink()"
                >
            </h2>
            <h3>Contact : +91-9462972064</h3>
            <h3>Mail : <a href="mailto:keshavmundra1996@gmail.com?subject=I want to have my own website&body=Keshav, I am interested  in having my own website can you contact at my mail for further info" target="_blank">keshavmundra1996@gmailcom</a></h3> 
        </div>
        {{>footer}}

        <script>
            function deeplink(){
                var name = prompt("Enter your name : ");
                if(name === null){
                    return
                }else{
                    var name_val = name ? "it's%20"+name : ""
                }
                const url = "https://wa.me/919462972064?text=Hi%20Keshav%20"+name_val
                window.open(url);
            }
        </script>
    </body>
</html>