<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel='icon' href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p class="card">
                {{message}}<br>
                <br>
                This is a node learing project
            </p>
        </div>
        {{>footer}}
    </body>
</html>